version: "3.9"

services:
  app1:
    build:
      context: ./app1
      dockerfile: Dockerfile
    container_name: app1_container
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  app2:
    build:
      context: ./app2
      dockerfile: Dockerfile
    container_name: app2_container
    ports:
      - "8001:8001"
    environment:
      - PYTHONUNBUFFERED=1
